@import "tailwindcss";
@theme {
  --color-primary: #588157;
  --color-secondary: #A3B18A;
  --color-font: #B1B1B1;
  --color-footer: #2F4F4F
            
}
/* ///FONTS */

@font-face {
  font-family: "HomeScand";
  src: url("/fonts/scand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Home";
  src: url("/fonts/arkanHome.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
